body{
    width: 100vw;
    background-image: url(./MEDIA/—Pngtree—golden\ falling\ stars_4604988.png), linear-gradient(#1F2440,#464AA6);
    background-size: 110px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    color: #F2E205;
    text-shadow: #15182b 0 0 30px;
}
.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.subContainer {
    width: 20rem;
    height: 35rem;
    background-color: rgb(31, 37, 65, 0.90);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.subCform{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .9rem;
}
.textoDeForm{
    margin: .0 1.2rem .0 1.2rem;
    text-align: justify;
}
.label{
    font-size: .8em;
}
.styleColor{
    background-color: rgb(69, 72, 165, .50);
    color: #F2E205;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    padding: .25rem;
    text-align: center;
}
.styleColor option{
    background-color: rgb(69, 72, 165);
}
.styleColor:focus-visible{
    outline-color: #F2E205;
}
.styleTable{
    min-width: 20rem;
}
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
