body{
    width: 100vw;
    height: 100vh;
    background-image: url(./MEDIA/—Pngtree—golden\ falling\ stars_4604988.png), linear-gradient(#1F2440,#464AA6);
    background-size: 110px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #F2E205;
    text-shadow: #15182b 0 0 30px;
}
